@charset "utf-8";
/*** red ***/
#page_bg {
	background: #383838;
}
a:link, a:visited {
	color: #579EB4;
	text-decoration:underline;
}

a:hover {
	color: #579EB4;
}

a.logo:link,a.logo:hover, a.logo:visited{
	color: #579EB4;
}

.login-form a {
	color: #fff;
}
div#logo_bg{
	background: #ECECEC url(../images/blueorange/bg_logo.png) top  repeat-x;
}

div#banner_bg{
	background: #000000 url(../images/blueorange/banner_bg.png) top  repeat-x;
}

#user3{
	background: #84BECF url(../images/blueorange/bg_menu.png) top  repeat-x;
	border-left: 1px solid #397688;
	border-right: 1px solid #397688;
}
div#user4 div.search{
	width:262px;
	height:53px;
	text-align:left;
	padding-top: 9px;
	background: url(../images/blueorange/search_bg.png) top right no-repeat;
}
#pillmenu li a, #pillmenu li a:hover, #active_menu-nav {
	border-right: 1px solid #84BECF;
	color:#FFFFFF;
}
#pillmenu li a:hover, #active_menu-nav {
	color:#000000;
}

#leftcolumn h3, #leftcolumn div h3{
	background:  url(../images/blueorange/bg_left_h3.png) top left no-repeat;
}
#rightcolumn h3, #rightcolumn div h3{
	background:  url(../images/blueorange/bg_right_h3.png) top left no-repeat;
}

#leftcolumn div.moduletable_menu, #leftcolumn div.moduletable, #leftcolumn div.moduletable_text,
#rightcolumn div.moduletable_menu, #rightcolumn div.moduletable, #rightcolumn div.moduletable_text{
	background: url(../images/rub_bottom.png) left bottom no-repeat;
	
}
#f_area div.moduletable_menu, #f_area div.moduletable, #f_area div.moduletable_text{
	background: url(../images/rub_footer_bottom.png) left bottom no-repeat;
	
}
div#middle_bg{
	background: url(../images/blueorange/middle_bg.png) left repeat-y;
}
#f_area h3{
	background:  url(../images/blueorange/f_area_h3.png) top left no-repeat;
}

a.readon, a.readon:hover, a.readon:visited{
	display:block;
	height:23px;
	width:109px;
	color:#FFFFFF;
	text-decoration:underline;
	padding-left: 20px;
	line-height:23px;
	background:  url(../images/blueorange/bg_read_more.png) top left no-repeat;
	margin:10px 0px 0px 0px;
}

ul.menu li{
	list-style:none;
	background:url(../images/blueorange/menu_arrow.png) top left no-repeat;
}
ul.mostread li{
	list-style:none;
	background:url(../images/blueorange/menu_arrow.png) top left no-repeat;
}
ul.latestnews li{
	list-style:none;
	background:url(../images/blueorange/menu_arrow.png) top left no-repeat;
}
.moduletable ul li {
	list-style:none;
	background:url(../images/blueorange/menu_arrow.png) top left no-repeat;
}
div.componentheading{
	color:#397688;
}
#date {
	color:#000000;
}
#banner_bg table.contentpaneopen td{
	color: #666666;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:11px;
}