/* project: internet center template
   author: luka cvrk (www.solucija.com) */


/* default styles
   -------------- */


a {
	color: #185DA0;
	background: inherit;
	text-decoration:none;
}

a:hover {
	color: #9EC068;
	background: inherit;
}

a.title {
	color: #FE6700;
	background: #FFF;
}

h1 {
	font: bold 2em Arial, Sans-Serif;
	letter-spacing: -1px;
	padding: 7px 0 0 8px;
	margin: 0;
}

h1 a, h2 a {
	text-decoration: none;
}

h1 a:hover, h2 a:hover {
	color: #FF6600;
	background: #FFF;
}


h2 {
	margin: 0;
	padding: 0;
	font: bold 1.7em Arial, Sans-Serif;
	letter-spacing: -1px;
}

h2 {
	font-size: 16px;
	margin-bottom: 5px;
	color: #000;
	background: inherit;
}

p {
	margin: 0 0 5px 0;

}

ul {
	margin: 0;
	padding : 0;
	list-style : none;
}

form {
	margin: 0;
}

input.search {
	width: 199px;
	border: none;
	background: url(input.gif);
	padding: 4px;
}

input.login {
	width: 150px;
	border: none;
	background: url(logininput.gif);
	padding: 4px;
}

/* layout
   ------ */

.content {
	margin: 10px auto;
	width: 760px;
}

.top_info {
	float: right;
	width: 570px;
	padding: 0 0 4px 0;
	border-bottom: 1px solid #eee;
}

	.top_info_left {
		width: 240px;
		float: left;
	}

	.top_info_right {
		float: right;
		width: 290px;
		padding: 0 0 0 35px;
		border-left: 1px solid #eee;
	}

.slogan {
	font-size: 0.9em;
	width: 160px;
}


.bar {
	clear: both;
	font-size: 1.1em;
	height: 30px;
	margin: 0 0 0 0px;
}

	.bar li {
		margin: 0;
		padding: 4px 10px 8px 10px;
		color: #808080;
		background: #FFF;
		float: left;
	}

	.bar li.active {
		background: #FFF url(bar.gif) no-repeat center bottom;
		color: #9EC068;
		font-weight: bold;
		padding-bottom: 8px;
	}

	.bar a {
		font-weight: bold;
		color: #4A8EBC;
		background: inherit;
	}

.search_field {
	background: #DCF2B8 url(barbg.gif) no-repeat;
	color: #000;
	border-top: 1px solid #9EC068;
	border-bottom: 1px solid #9EC068;
	clear: both;
	text-align: center;
	padding: 10px 0 5px 0;
	font-size:12px;
	font-weight:bold;
}

.subheader {
	margin: 3px 0 10px 0;
	padding: 8px;
	background: #f4f4f4 url(subheaderbg.gif) no-repeat;
	color: #808080;
	border-bottom: 1px solid #ccc;
}

/* left side
   --------- */

.left {
	float: left;
	width: 435px;
	margin: 0 0 10px 0;
}
	.left_articles {
		margin: 0px 0 10px 0;
	}

	.left_links {
		border: 1px solid #eee;
		padding: 10px 10px 10px 15px;
		margin: 0 0 10px 0;
	}

	.left_links:hover {
		border: 1px solid #ccc;
	}

	.left_message {
		border: 1px solid #eee;
		padding: 10px 10px 10px 55px;
		margin: 0 0 10px 0;

		color: #454545;
	}

	.left_message:hover {
		border: 1px solid #ccc;
	}

		.left_side {
			float: left;
			width: 130px;
		}

		.right_side {
			float: right;
			width: 130px;
			border-left: 1px solid #eee;
			padding: 0 0 0 20px;
		}

	.left_box {
		background: #f4f4f4;
		color: #000;
		border: 1px solid #ccc;
		padding: 10px;
	}

/* right side
   ---------- */

.right {
	float: right;
	width: 310px;
	margin: 0 0 10px 0;
}

	.right_login {
		padding: 10px;
		margin: 0 0 10px 0;
		background: #A9D4F2;
		color: #246088;
		border-top: 1px solid #4A8EBC;
		border-bottom: 1px solid #4A8EBC;
	}

	.right_articles {
		border: 1px solid #eee;
		padding: 5px;
		margin: 0 0 10px 0;
		height:90px;
		line-height:20px;
	}

	.right_articles:hover {
		border: 1px solid #ccc;
	}

.bottom {
	float: left;
	width: 760px;
	margin: 0 0 10px 0;
}

	.bottom_articles {
		border: 1px solid #eee;
		padding: 5px;
		margin: 0 5px 10px 0;
		height:100px;
		line-height:20px;
		width:235px;
		float:left;
		overflow:hidden;
	}

	.bottom_articles:hover {
		border: 1px solid #ccc;
	}

.mission{

}

	.mission_instruction {
		border: 1px solid #eee;
		padding: 10px 10px 10px 10px;
		margin: 0 0 10px 0;
		color: #454545;
	}

	.mission_process {
		border: 1px solid #eee;
		padding: 10px 10px 10px 55px;
		margin: 0 0 10px 0;
		color: #454545;
	}

	.mission_reward {
		border: 1px solid #eee;
		padding: 10px 10px 10px 10px;
		margin: 0 0 10px 0;
		color: #454545;
	}

	.mission_instruction:hover {
		border: 1px solid #ccc;
	}
	.mission_process:hover {
		border: 1px solid #ccc;
	}
	.mission_reward:hover {
		border: 1px solid #ccc;
	}


.image {
	float: left;
	margin: 0 9px 3px 0;
}
