.topic{
	min-height:50px;
	position:relative;
	float:left;
	margin:8px;
	padding:10px 5px;
	//-moz-border-radius:10px;
	//-webkit-border-radius:10px;
	//border-radius:10px;
	border:1px solid ddd;
	-webkit-box-shadow:0 0 2px #AAA;
	-moz-box-shadow:0 0 2px black;
	//border-bottom: 1px solid #FCC0D1;
}
#tagCloudDiv {
	width:150px;
	margin-left:-150px;
	float:left;
}
.topics{
	min-height:500px;
	float:left;
	width:100%;
}

.topics li{
    list-style: none;	
}
/**#tagCloudDiv li a{
    text-decoration:none;
    color:black;
}
#tagCloudDiv li a:hover{
    color:red !important;
}
#tagCloudDiv ul {list-style-type:none;}**/

.topicTitle{
	float:left;
	width:100%;
}
	
.post .author {
    float: left;
    font-size: 100%;
    font-weight: bold;
    width: 45%;
}
.post {
	margin:10px 0;
}
.posthidden {
height: 1px;
border-bottom: solid 1px #AAA;
}
.post .body {
    color: #666666;
}
.posthidden span {
    background-color: white;
    border: 1px solid #AAA;
    border-radius: 5px 5px 5px 5px;
    display: inline;
    padding: 5px;
    position: relative;
    top: -7px;
}
.pageInfo{
	padding-right: 50px;
    text-align: right;
}
.nav{
	margin-bottom: 0px !important;
}
.issuedetail{
	min-height:100px;
}
.add-url{
	height:24px !important;
}
.weibo-reply-img{
	margin-bottom:-9px;
}
