@CHARSET "UTF-8";


.logo {margin: 0 auto; width: 150px;}

.row-fluid .span61 {width:61%;}

.topbar{top:40px; }

.topbar #searchDiv{padding:8px 5px 3px 0;}

#folders li{display:inline; padding-right:8px;}

.filters{  position: fixed;  left: 0;  top: 50%;  width: 8em;  margin-top: -2.5em;}

.filter {float:right; margin:2px 0; width: 6em;text-align: center;}

.filter:hover {  cursor: pointer;}



.title_td a{ color: #005580;font-size: 100;font: 12px/2 "微软雅黑",Arial;text-shadow: #DDD 0 1px 0;}
.author {width:50px;float:left;margin-right:5px;overflow-x:hidden;min-height: 80px;}

.BBS{  color: #468847;  background-color: #dff0d8;  border-color: #d6e9c6;}

.Weibo { color: #B95;background-color: #F8E4B5;border-color: #F8D4A5;}

.Blog {  color: #3a87ad;  background-color: #d9edf7;  border-color: #bce8f1;}

.SNS {  color: #b93a38;  background-color: #f2cece;  border-color: #eec3c7;}

.ECOM {color: #3A679D;background-color: #D9CDE7;border-color: #BCC8E1;}